<% include partials/head.ejs %>
<% include partials/navcust.ejs %>
<body id='gif'>
  <div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
      <% if (docs.length > 0) { %>
            <h4 class="title">Flight Bookings of <%= docs[0].customerEmail %></h4>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Fight Number</th>
              <th>No. seats</th>
              <th>Airline</th>
              <th>Request to (Airline Flight)</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% docs.forEach( booking => { %>
              <tr>
                <td><%= booking.flightNumber %></td>
                <td><%= booking.seats %></td>
                <td><%= booking.airline %></td>
                <td>
                    <% for(var i=0; i < docs2.length; i++) { %>
                       <form action="/saverequest" method="POST" id="<%= i %>">
                         <div class="form-group">
                           <input type="hidden" class="form-control" name="fromAirline" value="<%= booking.airline %>"/>
                         </div>
                         <div class="form-group">
                           <input type="hidden" class="form-control" name="toAirline" value="<%= docs2[i].airline %>"/>
                         </div>
                         <div class="form-group">
                           <input type="hidden" class="form-control" name="flightNumber" value="<%= docs2[i].flightNumber %>"/>
                         </div>
                         <div class="form-group">
                           <input type="hidden" class="form-control" name="seats" value="<%= booking.seats %>"/>
                         </div>
                         <div class="form-group">
                           <input type="hidden" class="form-control" name="bookingId" value="<%= booking._id %>"/>
                         </div>
                         <div class="form-group">
                           <input type="submit" id="<%= i %>" class="btn btn-primary" value="<%= docs2[i].airline + ' ' + docs2[i].flightNumber %>"/>
                         </div>
                        </form>
                    <% } %>

                    <% for(var i=0; i < docs3.length; i++) { %>
                       <form action="/saverequest" method="POST" id="<%= i %>">
                         <div class="form-group">
                           <input type="hidden" class="form-control" name="fromAirline" value="<%= booking.airline %>"/>
                         </div>
                         <div class="form-group">
                           <input type="hidden" class="form-control" name="toAirline" value="<%= docs3[i].airline %>"/>
                         </div>
                         <div class="form-group">
                           <input type="hidden" class="form-control" name="flightNumber" value="<%= docs3[i].flightNumber %>"/>
                         </div>
                         <div class="form-group">
                           <input type="hidden" class="form-control" name="seats" value="<%= booking.seats %>"/>
                         </div>
                         <div class="form-group">
                           <input type="hidden" class="form-control" name="bookingId" value="<%= booking._id %>"/>
                         </div>
                         <div class="form-group">
                           <input type="submit" id="<%= i %>" class="btn btn-primary" value="<%= docs3[i].airline + ' ' + docs2[i].flightNumber %>"/>
                         </div>
                        </form>
                    <% } %>
                </td>
             </tr>
            <% }); %>
          </tbody>
        </table>
        <% } else {  %>
          <center><h4>There are no bookings yet!</h4></center>
        <% } %>
      </div>
        </div>
          </div>
  <% include partials/bcscripts.ejs %>
</body>
</html>
