<% include partials/head.ejs %>
<body>
  <% include partials/nav.ejs %>
  <section class="main-container">

    <div class="container">
      <h4>Editing <%= flight.flightNumber %></h4>
      <form action="/update/<%= flight._id %>" method="POST">
        <div class="form-group">
          <input type="text" class="form-control" name="flightNumber" value="<%= flight.flightNumber %>" disabled/>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="totalSeats" value="<%= flight.totalSeats %>"/>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="filledSeat" value="<%= flight.filledSeat %>"/>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="airline" value="<%= flight.airline %>" disabled/>
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-primary" value="Update"/>
        </div>
      </form>
    </div>
  </section>
  <% include partials/scripts.ejs %>
</body>
</html>
