<% include partials/head.ejs %>
<body>
  <% include partials/nav.ejs %>
  <% include ./partials/messages %>
      <% if (docs.length > 0) { %>
        <h4 class="title"><%= docs[0].toAirline %> reservation request</h4>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>From Airline</th>
              <th>Flight Number</th>
              <th>Seats</th>
              <th>Status</th>
              <th>Check availability</th>
              <th>Accept</th>
              <th>Reject</th>
            </tr>
          </thead>
          <tbody>
            <% docs.forEach( request => { %>
              <tr>
                <td><%= request.fromAirline %></td>
                <td><%= request.flightNumber %></td>
                <td><%= request.seats %></td>
                <td><%= request.status %></td>
                <td><a href="check/<%= request._id %>"><input type="button" class="btn btn-info" value="Check"></a></td>
                <td><a href="accept/<%= request._id %>"><input type="button" class="btn btn-success" value="Accept"></a></td>
                <td><a href="reject/<%= request._id %>"><input type="button" class="btn btn-danger" value="Reject"></a></td>

             </tr>
            <% }); %>
          </tbody>
        </table>
        <% } else {  %>
          <h4>There are no requests yet!</h4>
        <% } %>
  <% include partials/scripts.ejs %>
</body>
</html>
