<% include partials/head.ejs %>
<body id='gif'>
  <% include partials/nav.ejs %>
  <% include ./partials/messages %>
  <div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
      <% if (docs.length > 0) { %>
        <h4 class="title"><%= docs[0].toAirline %> reservation request</h4>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>From Airline</th>
              <th>Flight Number</th>
              <th>Seats</th>
              <th>Status</th>
              <th>Check availability</th>
              <th>Accept</th>
              <th>Reject</th>
            </tr>
          </thead>
          <tbody>
            <% docs.forEach( request => { %>
              <tr>
                <td><option id="fromAirline<%= request._id %>" value="<%= request.fromAirline %>"><%= request.fromAirline %></option></td>
                <td><option id="flightNumber<%= request._id %>" value="<%= request.flightNumber %>"><%= request.flightNumber %></option></td>
                <td><option id="seats<%= request._id %>" value="<%= request.seats %>"><%= request.seats %></option></td>
                <td><option id="status<%= request._id %>" value="<%= request.status %>"><%= request.status %></option></td>
                <td><a href="check/<%= request._id %>"><input type="button" class="btn btn-info" value="Check"></a></td>
                <td><input type="button" id="accept" class="btn btn-success" value2="<%= request._id %>" data-href="/accept/<%= request._id %>" value="Accept"></td>
                <td><input type="button" class="btn btn-danger" id="reject" value2="<%= request._id %>" value="Reject" data-href="/reject/<%= request._id %>"></td>
             </tr>
            <% }); %>
          </tbody>
        </table>
        <% } else {  %>
          <h4>There are no requests yet!</h4>
        <% } %>
      </div>
        </div>
          </div>
  <% include partials/bcscripts.ejs %>
</body>
</html>
