<% include partials/head.ejs %>
<body id='gif'>
  <% include partials/nav.ejs %>
  <% include ./partials/messages %>
  <div class="row mt-5">
    <div class="col-md-9 m-auto">
      <div class="card card-body">
      <% if (docs.length > 0) { %>
        <h4 class="title">Flight change request from passengers! </h4>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>To Airline</th>
              <th>Flight Number</th>
              <th>Seats</th>
              <th>Status</th>
              <th>Request Approval</th>
              <th>Verify and Validate</th>
              <th>Approve</th>
              <th>Reject</th>
            </tr>
          </thead>
          <tbody>
            <% docs.forEach( request => { %>
              <tr>
                <td><option id="toAirline<%= request._id %>" value="<%= request.toAirline %>"><%= request.toAirline %></option></td>
                <td><option id="flightNumber<%= request._id %>" value="<%= request.flightNumber %>"><%= request.flightNumber %></option></td>
                <td><option id="seats<%= request._id %>" value="<%= request.seats %>"><%= request.seats %></option></td>
                <td><option id="status<%= request._id %>" value="<%= request.status %>"><%= request.status %></option></td>
                <td><%= request.isReviewed %></td>
                <td><a href="verify/<%= request.bookingId %>"><input type="button" class="btn btn-info" value="Verify and Validate"></a></td>
                <td><input type="button" id="approve" class="btn btn-success" value2="<%= request._id %>" data-href="/approve/<%= request._id %>" value="Approve"></td>
                <td><input type="button" class="btn btn-danger" id="disapprove" value2="<%= request._id %>" value="Disapprove" data-href="/disapprove/<%= request._id %>"></td>
             </tr>
            <% }); %>
          </tbody>
        </table>
        <% } else {  %>
          <h4>There are no review yet!</h4>
        <% } %>
      </div>
        </div>
          </div>
  <% include partials/bcscripts.ejs %>
</body>
</html>
