<h3><a class="btn btn-secondary" href="/flight"><i class="fa fa-plus"></i> Create New</a> Flight List</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Flight Number</th>
            <th>Total Seats</th>
            <th>Filled Seat</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.flightNumber}}</td>
            <td>{{this.totalSeats}}</td>
            <td>{{this.filledSeat}}</td>
            <td>
                <a href="/flight/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/flight/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>


    <div class="jumbotron" style="text-align:center; padding-top:100px">
      <h1 class="display-4">Universal Counter</h1>
      <hr class="my-4">
      <span class="value" style="padding:10px; font-size:32px; padding-top:45px"> 0 </span>
      <br><br><br>
      <div class="row" style="margin: 0 auto; width: 500px">
        <div class="col-md-offset-3">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Integer Value" aria-label="Integer Value" aria-describedby="basic-addon2" id="numberInput">
            <div class="input-group-append">
              <button class="btn btn-dark" type="button" id="init">Initialize</button>
              <button class="btn btn-dark" type="button" id="increment">Increment</button>
              <button class="btn btn-dark" type="button" id="decrement">Decrement</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="js/truffle-contract.js"></script>
    <script src="js/app.js"></script>
</table>
